name: Build

on: [ push ]

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        # test against latest update of each major Java version, as well as specific updates of LTS versions:
        java: [ 15, 16 ]
      fail-fast: false
    name: JDK ${{ matrix.java }}
    env:
      # Workaround due to https://github.com/wildfly-extras/wildfly-jar-maven-plugin/issues/206
      MAVEN_OPTS: "--add-exports=java.xml/com.sun.org.apache.xerces.internal.parsers=ALL-UNNAMED --add-exports=java.xml/com.sun.org.apache.xerces.internal.util=ALL-UNNAMED"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Cache Maven packages
        uses: actions/cache@v2.1.4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Compile and Package
        run: mvn package -P errorprone,bootable
